{#
  This file defines .j2 template for bash script exporting CATALINA_HOME, CATALINA_BASE to bash profile
#}

export CATALINA_HOME={{ tomcat_catalina_home }}
export CATALINA_BASE={{ tomcat_catalina_base }}
